---
import { breakpoints } from 'src/variables';

import imgM from 'assets/home/mobile/image-header.jpg';
import imgT from 'assets/home/tablet/image-header.jpg';
import imgD from 'assets/home/desktop/image-hero.jpg';
---

<section class='relative mb-[92px] md:mb-[148px] lg:mb-[200px] h-[600px] md:h-[729px]'>
  <div class='ResponsiveMargins | h-full'>

    <div class='MaxCenter FlexCenter | flex-col top-[200px] h-full pt-24 w-full | text-center lg:text-left lg:items-start text-clr-n1'>
      <p class='mb-4 md:mb-6 | text-14 uppercase opacity-50 tracking-[10px]'>
        New Product
      </p>
      <h1 class='mb-6 | uppercase text-36 md:text-56 leading-[40px] md:leading-[56px]'>
        XX99 Mark II<br />
        Headphones
      </h1>
      <p class='mb-7 md:mb-10 | max-w-[400px] text-15 leading-[25px] opacity-70'>
        Experience natural, lifelike audio and exceptional build quality made
        for the passionate music enthusiast.
      </p>
      <a class='max-w-fit py-3 px-8 | text-13 uppercase font-bold bg-clr-2 tracking-[1px] hover:bg-clr-hover'
        href='#'>
        See Product
      </a>
    </div>

    <picture class='absolute inset-0 -z-10'>
      <source srcset={imgD.src} media={`(min-width: ${breakpoints.lg})`} />
      <source srcset={imgT.src} media={`(min-width: ${breakpoints.md})`} />
      <img src={imgM.src}
        class='h-[600px] md:h-[729px] object-cover object-center'
        alt='black headphones'/>
    </picture>

  </div>
</section>
