---
import { breakpoints } from 'src/variables';

import imgM from 'assets/shared/mobile/image-best-gear.jpg';
import imgT from 'assets/shared/tablet/image-best-gear.jpg';
import imgD from 'assets/shared/desktop/image-best-gear.jpg';
---

<div class='flex flex-col items-center lg:flex-row-reverse | gap-10 md:gap-16 lg:gap-[125px] | mb-[120px] md:mb-[96px] lg:mb-200px | text-center'>
  <div>
    <picture>
      <source srcset={imgD.src} media={`(min-width: ${breakpoints.lg})`} />
      <source srcset={imgT.src} media={`(min-width: ${breakpoints.md})`} />
      <img
        class='lg:1h-[588px] object-cover object-center'
        src={imgM.src}
        alt='black headphones'
      />
    </picture>
  </div>

  <div class='md:max-w-[573px] lg:w-1/2 lg:text-left'>
    <h2 class='mb-8 | text-28 md:text-40 leading-9 md:leading-[42px]'>
      Bringing you the <span class='text-clr-2'>best</span> audio gear
    </h2>
    <p>
      Located at the heart of New York City, Audiophile is the premier store
      for high end headphones, earphones, speakers, and audio accessories. We
      have a large showroom and luxury demonstration rooms available for you
      to browse and experience a wide range of our products. Stop by our store
      to meet some of the fantastic people who make Audiophile the best place
      to buy your portable audio equipment.
    </p>
  </div>
</div>
